<template>
    <v-layout class="pt-2">
        <v-jumbotron
                ripple
                :gradient="gradient"
                dark
                src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg"
        >
            <v-container fill-height>
                <v-layout align-center class="row">
                    <v-flex text-xs-center xs12>
                        <h3 class="display-3">About us!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium alias dolor eos eveniet impedit inventore iste mollitia
                            perspiciatis rem vitae?
                        </p>
                    </v-flex>

                </v-layout>

            </v-container>

        </v-jumbotron>
    </v-layout>
</template>

<script>
    export default {
        name: "AboutUs",
        data: () => ({
            gradient: 'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)'
        })
    }
</script>

<style scoped>

</style>