<template>
    <v-app id="inspire" dark>

        <v-navigation-drawer
                v-model="drawer"
                clipped
                fixed
                app
        >
        <left-menu></left-menu>
        </v-navigation-drawer>
        <app-header></app-header>

<v-content v-if="!loading">
    <v-container fluid>
        <router-view></router-view>
    </v-container>
</v-content>
        <v-content v-else>
            <v-container fluid align-center justify-center row fill-height>
            <v-flex xs12 class="text-xs-center">
                <v-progress-circular
                        :size="100"
                        :width="5"
                        color="green"
                        indeterminate
                ></v-progress-circular>
            </v-flex>
            </v-container>
        </v-content>

        <template v-if="error">
            <v-snackbar
                    @input="closeError"
                    color="error"
                    :value="true"
                    :multi-line="true"
                    :timeout="5000"
            >
                {{error}}
                <v-btn
                        dark
                        flat
                        @click.native="closeError"
                >
                    Close
                </v-btn>
            </v-snackbar>
        </template>
        <v-footer app fixed>
            <span>&copy; 2017</span>
        </v-footer>
    </v-app>

</template>

<script>

    import LeftMenu from "./LeftMenu";
    export default {
        data: () => ({
            drawer: true,
        }),
        props: {
            source: String
        },
        components: {
            LeftMenu,
            'left-menu': LeftMenu
        },
        computed: {
            error () {
                return this.$store.getters.error
            },
            loading () {
                return this.$store.getters.loading
            }
        },
        methods: {
            closeError () {
                this.$store.dispatch('clearError')
            }
        }
    }
</script>
<style>
.my-search {
    width: 400px;
    min-height: 37px;
}
a:hover {
    text-decoration: none;
}
.pointer {
    cursor: pointer;
}

</style>