<template>
    <v-layout column>
        <v-flex xs10 offset-xs1>


            <v-card>
                <v-container
                        fluid
                        grid-list-md
                >
                    <v-layout row wrap>
                        <v-flex
                        >
                            <v-card>
                                <v-card-media
                                        :src="card.src"
                                        height="300px"
                                >
                                    <v-container
                                            fill-height
                                            fluid
                                            pa-2
                                    >
                                        <v-layout fill-height>
                                            <v-btn dark flat
                                                   to="/articles"
                                            >
                                                <v-icon>chevron_left</v-icon>
                                                back
                                            </v-btn>
                                        </v-layout>
                                    </v-container>
                                </v-card-media>
                                <v-card-title v-text="card.title" class="headline"></v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>
                                    <div class="subheading grey--text" v-html="card.text"></div>
                                    <div class="subheading grey--text" v-html="card.text"></div>
                                    <div class="subheading grey--text" v-html="card.text"></div>
                                    <div class="subheading grey--text" v-html="card.text"></div>
                                    <div class="subheading grey--text" v-html="card.text"></div>
                                    <div class="subheading grey--text" v-html="card.text"></div>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn icon>
                                        <v-icon>favorite</v-icon>
                                    </v-btn>
                                    <v-btn icon>
                                        <v-icon>bookmark</v-icon>
                                    </v-btn>
                                    <v-btn icon>
                                        <v-icon>share</v-icon>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "Article",
        data: () => ({
            card: {
                    title: 'Lorem ipsum dolor sit amet.',
                    src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg',
                    flex: 12,
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deleniti ducimus eius eos esse eveniet ex impedit inventore minima, nisi non obcaecati tempora totam unde voluptatibus! Eaque fuga illo maiores!'
                }
        })
    }
</script>

<style scoped>

</style>