<template>
    <v-layout column>
        <v-flex xs10 offset-xs1>


            <v-card>
                <v-container
                        fluid
                        grid-list-md
                >
                    <v-layout row wrap>
                        <v-flex
                                v-for="card in cards"
                                v-bind="{ [`xs${card.flex}`]: true }"
                                :key="card.title"
                        >
                            <v-card>
                                <v-card-media
                                        :src="card.src"
                                        height="200px"
                                >
                                    <v-container
                                            fill-height
                                            fluid
                                            pa-2
                                    >
                                        <v-layout fill-height>
                                            <v-flex xs12 align-end flexbox>
                                                <span class="headline white--text" v-text="card.title"></span>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-card-media>
                                <v-card-text>
                                    <span class="subheading grey--text" v-text="card.text"></span>
                                    <v-card-actions><v-btn flat to="/article/one">
                                        <v-icon>details</v-icon>More
                                    </v-btn></v-card-actions>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn icon>
                                        <v-icon>favorite</v-icon>
                                    </v-btn>
                                    <v-btn icon>
                                        <v-icon>bookmark</v-icon>
                                    </v-btn>
                                    <v-btn icon>
                                        <v-icon>share</v-icon>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "Articles",
        data: () => ({
            cards: [
                {
                    title: 'Lorem ipsum dolor sit amet.',
                    src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg',
                    flex: 12,
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deleniti ducimus eius eos esse eveniet ex impedit inventore minima, nisi non obcaecati tempora totam unde voluptatibus! Eaque fuga illo maiores!'
                },
                {
                    title: 'Lorem ipsum dolor sit amet.',
                    src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg',
                    flex: 6,
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deleniti ducimus eius eos esse eveniet ex impedit inventore minima, nisi non obcaecati tempora totam unde voluptatibus! Eaque fuga illo maiores!'
                },
                {
                    title: 'Lorem ipsum dolor sit amet.',
                    src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg',
                    flex: 6,
                    text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deleniti ducimus eius eos esse eveniet ex impedit inventore minima, nisi non obcaecati tempora totam unde voluptatibus! Eaque fuga illo maiores!'
                }
            ]
        })
    }
</script>

<style scoped>

</style>