<template>
    <v-layout column
              align-center
              justify-center
              elevation-5
    >
        <v-flex xs12 pt-3>
            <img src="/img/404-error.png" alt="404-img" height="450" >

        </v-flex>
        <v-flex xs12 pb-3>
            <v-btn
                    class="teal mt-5"
                    dark
                    large
                    href="/"

            >
                Home
            </v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "ErrorPage"
    }
</script>

<style scoped>

</style>