<template>
    <v-layout row>
        <v-flex xs10 offset-xs1>
            <v-card>

                <v-list three-line>
                    <template >
                        <v-subheader>
                            FAQ
                        </v-subheader>
                        <v-divider inset></v-divider>
                        <v-list-tile
                                v-for="(item, i) in items"
                                :key="i"
                                avatar
                                @click=""
                        >
                            <v-list-tile-avatar>
                                <v-icon class="teal">{{item.avatar}}</v-icon>
                            </v-list-tile-avatar>

                            <v-list-tile-content>
                                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>
                </v-list>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "Faq",
        data () {
            return {
                header: 'FAQ',
                items: [
                    {
                        avatar: 'assignment',
                        title: '<h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>',
                        subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consequatur distinctio ea eos et excepturi exercitationem id incidunt laboriosam laborum minima nulla officia sequi veritatis voluptatem, voluptatum. Est, maxime!"
                    },
                    {
                        avatar: 'assignment',
                        title: '<h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>',
                        subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consequatur distinctio ea eos et excepturi exercitationem id incidunt laboriosam laborum minima nulla officia sequi veritatis voluptatem, voluptatum. Est, maxime!"
                    },
                    {
                        avatar: 'assignment',
                        title: '<h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>',
                        subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consequatur distinctio ea eos et excepturi exercitationem id incidunt laboriosam laborum minima nulla officia sequi veritatis voluptatem, voluptatum. Est, maxime!"
                    },
                    {
                        avatar: 'assignment',
                        title: '<h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>',
                        subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consequatur distinctio ea eos et excepturi exercitationem id incidunt laboriosam laborum minima nulla officia sequi veritatis voluptatem, voluptatum. Est, maxime!"
                    },
                    {
                        avatar: 'assignment',
                        title: '<h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>',
                        subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consequatur distinctio ea eos et excepturi exercitationem id incidunt laboriosam laborum minima nulla officia sequi veritatis voluptatem, voluptatum. Est, maxime!"
                    },
                    {
                        avatar: 'assignment',
                        title: '<h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>',
                        subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consequatur distinctio ea eos et excepturi exercitationem id incidunt laboriosam laborum minima nulla officia sequi veritatis voluptatem, voluptatum. Est, maxime!"
                    },
                    {
                        avatar: 'assignment',
                        title: '<h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>',
                        subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae consequatur distinctio ea eos et excepturi exercitationem id incidunt laboriosam laborum minima nulla officia sequi veritatis voluptatem, voluptatum. Est, maxime!"
                    }
                    ]
            }
        }
    }
</script>

<style scoped>

</style>