<template>
    <v-expansion-panel popout expand focusable>
        <v-expansion-panel-content

                v-for="(item,i) in games"
                :key="i"
                class="elevation-2 blue-grey darken-4"

        >
            <div slot="header" class="row">
                <v-flex xs1 class="pt-2">
                    {{new Date(item.start).toLocaleDateString()}}

                </v-flex>
                <v-flex xs2 class="pt-2">
                    <v-avatar
                            size="20"
                    >
                        <img src="/img/Austria-flag.png" alt="tourn">
                    </v-avatar>
                    <span class="subheading">{{item.tournament}}</span>
                </v-flex>
                <v-flex xs5 class="pt-2 text-xs-center">
                    <v-avatar
                            size="27"
                    >
                        <img :src="item.team_1_logo" alt="logo1">
                    </v-avatar>
                    <span class="font-weight-bold subheading">{{item.team_1_name}}</span>
                    vs
                    <span class="font-weight-bold subheading">{{item.team_2_name}}</span>
                    <v-avatar
                            size="25"
                    >
                        <img :src="item.team_2_logo" alt="logo2">
                    </v-avatar>
                </v-flex>
                <v-flex xs2 class="pt-2">
                    Total 2,5: Over:
                    <v-avatar
                            tile
                            size="25"
                    >
                        <img src="/img/signal.png" alt="signal">
                    </v-avatar>
                </v-flex>
                <v-flex xs2 class="pt-2" ripple>
                    <router-link :to="'/game/' + item.id" tag="span" class="red--text font-weight-bold"> Get All Hints</router-link>
                </v-flex>
            </div>
            <v-card class=" teal darken-4">
                <v-card-text>
                    <v-layout row>
                        <v-flex xs5 pl-2>
                            <p class="subheading">In the last 3 matches of 10 {{item.team_1_name}} won</p>
                            <div>
                                <div class="hint-block__wins">
                                    <span class="wins-line wins-line_lose"></span>
                                    <span class="wins-line wins-line_lose"></span>
                                    <span class="wins-line wins-line_draw"></span>
                                    <span class="wins-line wins-line_lose"></span>
                                    <span class="wins-line wins-line_win"></span>
                                    <span class="wins-line wins-line_win"></span>
                                    <span class="wins-line wins-line_win"></span>
                                    <span class="wins-line wins-line_draw"></span>
                                    <span class="wins-line wins-line_draw"></span>
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs4 pl-1 pr-1>
                            <div class="odds-table odds-table_main d-table justify-content-center col nopadding">
                                <div class="odds-table__header odds-table__row d-table-row">
                                    <div class="odds-table__cell d-table-cell">Bet 365</div>
                                    <div class="odds-table__cell d-table-cell">Pinnacle</div>
                                    <div class="odds-table__cell d-table-cell">Pari Match</div>
                                    <div class="odds-table__cell d-table-cell">Bet 365</div>
                                </div>
                                <div class="odds-table__row d-table-row odds-items">
                                    <div class="odds-table__cell d-table-cell">63%</div>
                                    <div class="odds-table__cell d-table-cell">63%</div>
                                    <div class="odds-table__cell d-table-cell">63%</div>
                                    <div class="odds-table__cell d-table-cell">63%</div>
                                </div>
                                <div class="odds-table__row d-table-row odds-items">
                                    <div class="odds-table__cell d-table-cell">3.0</div>
                                    <div class="odds-table__cell d-table-cell">3.0</div>
                                    <div class="odds-table__cell d-table-cell">3.0</div>
                                    <div class="odds-table__cell d-table-cell">3.0</div>
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs3>
                            <div class="main-odds main-odds_vertical col nopadding pa-3">
                                <div class="main-odds__descr">
                                    <p class="main-odds__text">BETHINT</p>
                                    <p class="main-odds__text">63%</p>
                                    <p class="main-odds__text">3.0</p>
                                </div> <div class="signal-block nopadding">
                                <img src="/img/signal.png" alt="" class="signal-block__pic">
                                <p class="signal-block__level signal-block__level_small">3.5</p>
                            </div>
                            </div>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-expansion-panel-content>
    </v-expansion-panel>
</template>

<script>
    export default {
        name: "GamesList",
        props: ['games']
    }
</script>

<style scoped lang="scss">
    .wins-line {
        font-size: 11px;
        font-weight: 500 !important;
        text-align: center;
        color: #ffffff !important;
        height: 15px;
        line-height: 15px;
        width: 16.5px;
        display: inline-block;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        margin-right: 1px !important;
        letter-spacing: normal;
    }
    .wins-line{
    &_lose{
         background: #ff7260;
    &:before{
         content: 'L';
     }
    }
    &_draw{
         background: #fcd189;
    &:before{
         content: 'D';
     }
    }
    &_win{
         background: #a6d176;
    &:before{
         content: 'W';
     }
    }
    }
    .odds-table {
        width: 90%;
        border-collapse: collapse;
        line-height: 1.43;
        color: #646464;
        margin-top: 30px; }
    .odds-table_main {
        margin-top: 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 38%;
        -ms-flex: 0 0 38%;
        flex: 0 0 38%;}
    .odds-table__header {
        background-color: #ededed;
        font-weight: 700; }
    .odds-table__header .odds-table__cell {
        background: #ededed; }
    .odds-table__row {
        display: table-row; }
    .odds-table__cell {
        text-align: center;
        border: solid 1px #979797; }

    .odds-items > .odds-table__cell {
        color: white;
    }

    .main-odds {
        background: #ededed;
        -webkit-border-radius: 3px;
        border-radius: 3px; }
    .main-odds__text {
        line-height: 1.43;
        font-weight: 700;
        color: #646464;
        text-align: center;
        margin-bottom: 0; }
    .main-odds__text_underline {
        border-bottom: solid 1px #979797; }
    .main-odds__text_underline:last-child {
        border-bottom: 0; }
    .main-odds_vertical {
        width: 70%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 19%;
        -ms-flex: 0 0 19%;
        flex: 0 0 19%;
        max-width: 70%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 5px 0;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: solid 2px #05815c; }
    .main-odds__descr {
        width: 50%; }

    .signal-block {
        width: 50%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center; }
    .signal-block_small {
        width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 5px; }
    .signal-block__pic {
        height: 35px;
        width: auto; }
    .signal-block__level {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Roboto';
        color: #39404a;
        margin-bottom: 0;
        text-align: center; }
    .signal-block__level_small {
        font-size: 16px;
        font-family: 'HelveticaNeue';
        color: #646464; }
</style>