<template>
    <div>
        <v-layout row column>
            <v-breadcrumbs xs12>
                <v-icon slot="divider">chevron_right</v-icon>

                <v-breadcrumbs-item
                >
                    Home
                </v-breadcrumbs-item>
                <v-breadcrumbs-item
                >
                    Tournament
                </v-breadcrumbs-item>
                <v-breadcrumbs-item
                        disabled
                >
                    Game
                </v-breadcrumbs-item>
            </v-breadcrumbs>

        </v-layout>
        <v-layout row column align-center
                  justify-center>
            <v-flex xs12 align-center justify-center d-flex pa-3>
                <img src="/img/real-madrid-logo.png" alt="" class="title__logo">
                <h1 class="display-1 font-weight-bold ma-3">Everton FC - Liverpool FC</h1>
                <img src="/img/fc-barcelona-logo.png" alt="" class="title__logo">
            </v-flex>

        </v-layout>
        <v-layout row wrap>
            <v-flex xs2 align-center justify-center d-flex>
                Date: 07/04/2018
            </v-flex>
            <v-flex xs2 align-center justify-center d-flex>
                Time: 12:30
            </v-flex>
            <v-flex xs2 align-center justify-center d-flex>
                Country: England
            </v-flex>
            <v-flex xs2 align-center justify-center d-flex>
                Tournament: Premier League
            </v-flex>
            <v-flex xs2 align-center justify-center d-flex>
                Refferee: --
            </v-flex>
            <v-flex xs2 align-center justify-center d-flex>
                Weather: --
            </v-flex>

        </v-layout>
        <v-toolbar dense>
            <v-toolbar-items>
                <v-btn flat>Total</v-btn>
                <v-btn flat>1x2</v-btn>
                <v-btn flat>Handicap</v-btn>
            </v-toolbar-items>
            <v-spacer></v-spacer>
            <v-toolbar-items>

                <v-flex align-center mt-2 ml-5 pl-5>
                    <v-select
                            :items="items"
                            v-model="outcome"

                            label="Outcome"
                            hide-details
                            single-line
                    ></v-select>
                </v-flex>
                <v-flex align-center mt-2 ml-5 pl-5>
                    <v-select
                            :items="items"
                            v-model="outcome"

                            label="Outcome"
                            hide-details
                            single-line
                    ></v-select>
                </v-flex>
                <v-flex align-center mt-2 ml-5 pl-5>
                    <v-select
                            :items="items"
                            v-model="outcome"

                            label="Outcome"
                            hide-details
                            single-line
                    ></v-select>
                </v-flex>
            </v-toolbar-items>
        </v-toolbar>
        <v-layout>
            <v-flex xs12>
                <div class="market-table__body col-12 nopadding d-flex align-items-start justify-content-between">
                    <div class="market-table__odds nopadding">
                        <div class="market-table__header market-table__header_odds">
                            <div class="market-table__row"><span class="market-table__cell market-table__cell_header">Bookies</span>
                                <span class="market-table__cell market-table__cell_header">away</span><span
                                        class="market-table__cell market-table__cell_header">draw</span><span
                                        class="market-table__cell market-table__cell_header">home</span></div>
                        </div>
                        <div class="market-table__body_odds">
                            <div class="market-table__row"><span class="market-table__cell"><img src="" alt=""></span>
                                <span class="market-table__cell">2.170</span><span
                                        class="market-table__cell">3.390</span><span
                                        class="market-table__cell">3.780</span></div>
                        </div>
                    </div>
                    <div class="graph">
                        <div class="vue-chart-container">
                            <div id="X11" class="vue-chart">
                                <div style="position: relative;">
                                    <div dir="ltr" style="position: relative; width: 480px; height: 200px;">
                                        <div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;"
                                             aria-label="A chart.">
                                            <svg width="480" height="200" aria-label="A chart."
                                                 style="overflow: hidden;">
                                                <defs id="defs">
                                                    <clipPath id="_ABSTRACT_RENDERER_ID_0">
                                                        <rect x="72" y="38" width="336" height="124"></rect>
                                                    </clipPath>
                                                    <filter id="_ABSTRACT_RENDERER_ID_1">
                                                        <feGaussianBlur in="SourceAlpha"
                                                                        stdDeviation="2"></feGaussianBlur>
                                                        <feOffset dx="1" dy="1"></feOffset>
                                                        <feComponentTransfer>
                                                            <feFuncA type="linear" slope="0.1"></feFuncA>
                                                        </feComponentTransfer>
                                                        <feMerge>
                                                            <feMergeNode></feMergeNode>
                                                            <feMergeNode in="SourceGraphic"></feMergeNode>
                                                        </feMerge>
                                                    </filter>
                                                </defs>
                                                <g>
                                                    <rect x="72" y="38" width="336" height="124" stroke="none"
                                                          stroke-width="0" fill-opacity="0" fill="#ffffff"></rect>
                                                    <g clip-path="url(http://bethint.g4.org.ua/game/26/25/2018-04-07#_ABSTRACT_RENDERER_ID_0)">
                                                        <g>
                                                            <rect x="72" y="161" width="336" height="1" stroke="none"
                                                                  stroke-width="0" fill="#cccccc"></rect>
                                                            <rect x="72" y="130" width="336" height="1" stroke="none"
                                                                  stroke-width="0" fill="#cccccc"></rect>
                                                            <rect x="72" y="100" width="336" height="1" stroke="none"
                                                                  stroke-width="0" fill="#cccccc"></rect>
                                                            <rect x="72" y="69" width="336" height="1" stroke="none"
                                                                  stroke-width="0" fill="#cccccc"></rect>
                                                            <rect x="72" y="38" width="336" height="1" stroke="none"
                                                                  stroke-width="0" fill="#cccccc"></rect>
                                                        </g>
                                                        <g>
                                                            <path d="M114.375,84.625L198.125,58.4875L281.875,136.9L365.625,80.0125"
                                                                  stroke="#2ecc71" stroke-width="2" fill-opacity="1"
                                                                  fill="none"></path>
                                                        </g>
                                                    </g>
                                                    <g></g>
                                                    <g>
                                                        <g>
                                                            <text text-anchor="middle" x="114.375" y="182.9"
                                                                  font-family="HelveticaNeue" font-size="14"
                                                                  stroke="none" stroke-width="0" fill="#9ea7b3">2004
                                                            </text>
                                                        </g>
                                                        <g>
                                                            <text text-anchor="middle" x="198.125" y="182.9"
                                                                  font-family="HelveticaNeue" font-size="14"
                                                                  stroke="none" stroke-width="0" fill="#9ea7b3">2005
                                                            </text>
                                                        </g>
                                                        <g>
                                                            <text text-anchor="middle" x="281.875" y="182.9"
                                                                  font-family="HelveticaNeue" font-size="14"
                                                                  stroke="none" stroke-width="0" fill="#9ea7b3">2006
                                                            </text>
                                                        </g>
                                                        <g>
                                                            <text text-anchor="middle" x="365.625" y="182.9"
                                                                  font-family="HelveticaNeue" font-size="14"
                                                                  stroke="none" stroke-width="0" fill="#9ea7b3">2007
                                                            </text>
                                                        </g>
                                                        <g>
                                                            <text text-anchor="end" x="58" y="166.4"
                                                                  font-family="HelveticaNeue" font-size="14"
                                                                  stroke="none" stroke-width="0" fill="#9ea7b3">500
                                                            </text>
                                                        </g>
                                                        <g>
                                                            <text text-anchor="end" x="58" y="135.65"
                                                                  font-family="HelveticaNeue" font-size="14"
                                                                  stroke="none" stroke-width="0" fill="#9ea7b3">700
                                                            </text>
                                                        </g>
                                                        <g>
                                                            <text text-anchor="end" x="58" y="104.9"
                                                                  font-family="HelveticaNeue" font-size="14"
                                                                  stroke="none" stroke-width="0" fill="#9ea7b3">900
                                                            </text>
                                                        </g>
                                                        <g>
                                                            <text text-anchor="end" x="58" y="74.15"
                                                                  font-family="HelveticaNeue" font-size="14"
                                                                  stroke="none" stroke-width="0" fill="#9ea7b3">1,100
                                                            </text>
                                                        </g>
                                                        <g>
                                                            <text text-anchor="end" x="58" y="43.4"
                                                                  font-family="HelveticaNeue" font-size="14"
                                                                  stroke="none" stroke-width="0" fill="#9ea7b3">1,300
                                                            </text>
                                                        </g>
                                                    </g>
                                                </g>
                                                <g></g>
                                            </svg>
                                            <div aria-label="A tabular representation of the data in the chart."
                                                 style="position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden;">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th>Year</th>
                                                        <th>Odds</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>2004</td>
                                                        <td>1,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2005</td>
                                                        <td>1,170</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2006</td>
                                                        <td>660</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2007</td>
                                                        <td>1,030</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div aria-hidden="true"
                                         style="display: none; position: absolute; top: 210px; left: 490px; white-space: nowrap; font-family: HelveticaNeue; font-size: 14px; font-weight: bold;">
                                        1,000
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="market-table__wrap">
                        <div class="market-table__odds nopadding">
                            <div class="market-table__header market-table__header_odds">
                                <div class="market-table__row"><span
                                        class="market-table__cell market-table__cell_big market-table__cell_header">Time</span>
                                    <span class="market-table__cell market-table__cell_big market-table__cell_header">away</span><span
                                            class="market-table__cell market-table__cell_big market-table__cell_header">draw</span><span
                                            class="market-table__cell market-table__cell_big market-table__cell_header">home</span>
                                </div>
                            </div>
                            <div class="market-table__body_odds market-table__body_all-odds">
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">19/03/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.529</span><span
                                        class="market-table__cell market-table__cell_big">4.570</span><span
                                        class="market-table__cell market-table__cell_big">6.390</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">23/03/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.529</span><span
                                        class="market-table__cell market-table__cell_big">4.570</span><span
                                        class="market-table__cell market-table__cell_big">6.390</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">23/03/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.529</span><span
                                        class="market-table__cell market-table__cell_big">4.570</span><span
                                        class="market-table__cell market-table__cell_big">6.390</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">23/03/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.555</span><span
                                        class="market-table__cell market-table__cell_big">4.490</span><span
                                        class="market-table__cell market-table__cell_big">6.060</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">28/03/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.598</span><span
                                        class="market-table__cell market-table__cell_big">4.360</span><span
                                        class="market-table__cell market-table__cell_big">5.700</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">28/03/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.602</span><span
                                        class="market-table__cell market-table__cell_big">4.310</span><span
                                        class="market-table__cell market-table__cell_big">5.730</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">28/03/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.613</span><span
                                        class="market-table__cell market-table__cell_big">4.280</span><span
                                        class="market-table__cell market-table__cell_big">5.650</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">31/03/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.591</span><span
                                        class="market-table__cell market-table__cell_big">4.330</span><span
                                        class="market-table__cell market-table__cell_big">5.850</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">01/04/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.613</span><span
                                        class="market-table__cell market-table__cell_big">4.290</span><span
                                        class="market-table__cell market-table__cell_big">5.660</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">01/04/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.641</span><span
                                        class="market-table__cell market-table__cell_big">4.230</span><span
                                        class="market-table__cell market-table__cell_big">5.400</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">01/04/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.641</span><span
                                        class="market-table__cell market-table__cell_big">4.230</span><span
                                        class="market-table__cell market-table__cell_big">5.400</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">01/04/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.649</span><span
                                        class="market-table__cell market-table__cell_big">4.210</span><span
                                        class="market-table__cell market-table__cell_big">5.350</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">01/04/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.649</span><span
                                        class="market-table__cell market-table__cell_big">4.210</span><span
                                        class="market-table__cell market-table__cell_big">5.350</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">01/04/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.675</span><span
                                        class="market-table__cell market-table__cell_big">4.170</span><span
                                        class="market-table__cell market-table__cell_big">5.170</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">01/04/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.684</span><span
                                        class="market-table__cell market-table__cell_big">4.140</span><span
                                        class="market-table__cell market-table__cell_big">5.120</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">01/04/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.671</span><span
                                        class="market-table__cell market-table__cell_big">4.160</span><span
                                        class="market-table__cell market-table__cell_big">5.210</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">02/04/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.671</span><span
                                        class="market-table__cell market-table__cell_big">4.140</span><span
                                        class="market-table__cell market-table__cell_big">5.250</span></div>
                                <div class="market-table__row"><span class="market-table__cell market-table__cell_big">02/04/2018</span><span
                                        class="market-table__cell market-table__cell_big">1.671</span><span
                                        class="market-table__cell market-table__cell_big">4.130</span><span
                                        class="market-table__cell market-table__cell_big">5.270</span></div>


                            </div>
                        </div>
                    </div>
                </div>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 pa-3 align-center justify-center>
                <v-card>
                    <v-toolbar dense dark>
                        <v-spacer></v-spacer>
                        <v-toolbar-title>Select Hints Group to Shown</v-toolbar-title>

                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-card-title>
                        <v-checkbox
                                v-model="h2h"
                                label="H2H matches"
                                color="teal"
                                hide-details
                        ></v-checkbox>
                        <v-checkbox
                                v-model="last"
                                label="Last matches"
                                color="teal"
                                hide-details
                        ></v-checkbox>
                        <v-checkbox
                                v-model="similar"
                                label="Similar matches"
                                color="teal"
                                hide-details
                        ></v-checkbox>
                    </v-card-title>
                </v-card>
            </v-flex>

        </v-layout>
        <v-layout row wrap v-if="h2h">
            <v-flex xs12 pa-3 align-center justify-center>
                <v-card>
                    <v-toolbar dense dark>
                        <v-spacer></v-spacer>
                        <v-toolbar-title>H2H matches</v-toolbar-title>

                        <v-spacer></v-spacer>
                        <v-btn icon flat @click="h2h = false">
                            <v-icon>clear</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card-title>

                    </v-card-title>
                </v-card>
            </v-flex>

        </v-layout>
        <v-layout row wrap v-if="last">
            <v-flex xs12 pa-3 align-center justify-center>
                <v-card>
                    <v-toolbar dense dark>
                        <v-spacer></v-spacer>
                        <v-toolbar-title>Last matches</v-toolbar-title>

                        <v-spacer></v-spacer>
                        <v-btn icon flat @click="last = !last">
                            <v-icon>clear</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card-title>

                    </v-card-title>
                </v-card>
            </v-flex>

        </v-layout>
        <v-layout row wrap v-if="similar">
            <v-flex xs12 pa-3 align-center justify-center>
                <v-card>
                    <v-toolbar dense dark>
                        <v-spacer></v-spacer>
                        <v-toolbar-title>Similar matches</v-toolbar-title>

                        <v-spacer></v-spacer>
                        <v-btn icon flat @click="similar = !similar">
                            <v-icon>clear</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card-title>

                    </v-card-title>
                </v-card>
            </v-flex>

        </v-layout>
    </div>
</template>

<script>
    export default {
        name: "GamePage",
        data() {
            return {
                outcome: '',
                items: [
                    {text: 'over'},
                    {text: 'under'}
                ],
                h2h: true,
                last: true,
                similar: true
            }
        }
    }
</script>

<style scoped>

</style>