<template>
    <v-toolbar app fixed clipped-left>
        <v-toolbar-title><router-link to="/" tag="span" class="pointer"><img src="/img/logo_2.svg"></router-link></v-toolbar-title>
        <v-toolbar-side-icon
                @click="drawer = !drawer"
                class="hidden-md-and-up"
        ></v-toolbar-side-icon>
        <v-toolbar-items class="hidden-sm-and-down">

            <v-layout align-center mt-2 ml-5 pl-5>
                <v-text-field
                        class="my-search"
                        min-height="35px"
                        dark
                        append-icon="search"
                        placeholder="Type keyword...">
                </v-text-field>
            </v-layout>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">

            <v-btn
                    flat
                    to="/about-us"
            >
                <v-icon left>info</v-icon>
                About Us
            </v-btn>
            <v-btn
                    flat
                    to="/faq"
            >
                <v-icon left>help_outline</v-icon>
                Faq
            </v-btn>
            <v-btn
                    flat
                    to="/articles"
            >
                <v-icon left>list_alt</v-icon>
                Articles
            </v-btn>
            <v-btn
                    flat
                    to="/contacts"
            >
                <v-icon left>drafts</v-icon>
                Contacts
            </v-btn>

        </v-toolbar-items>
    </v-toolbar>

</template>

<script>
    export default {
        name: "Header"

    }
</script>

<style scoped>


</style>