<template>
    <v-layout column fill-height>
        <v-flex xs12>
            <v-card class="my-content">
                <v-card-media
                        src="/img/banner.png"
                        height="270px"
                ></v-card-media>

                <v-card-title primary-title>
                    <div class="">
                        <h2 class="headline mb-0 text-xs-center">Football betting hints - Top matches</h2>
                    </div>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    <games-list :games="top_games" v-if="top_games"></games-list>
                    <div v-else >
                        <v-alert
                                outline
                                :value="true"
                                type="error"
                        >
                            <span class="font-weight-bold title">No games!</span>
                        </v-alert>
                    </div>
                </v-card-text>
            </v-card>
        </v-flex>

    </v-layout>
</template>

<script>
    import gamesList from './GamesList'
    export default {
        name: "Home",
        components: {
            'games-list': gamesList
        },
        computed: {
            top_games () {
                return this.$store.getters.top_games
            }
        }
    }
</script>

<style scoped lang="scss">
.my-content {
    min-height: 800px;
}
    .v-expansion-panel__body > .v-card{
        background-color: rgba(64, 61, 63, 0.92);
    }

</style>