<template>
    <v-list>
        <v-list-tile>
            <v-list-tile-action>
                <v-icon>star_border</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>TOURNAMENTS:</v-list-tile-title>
        </v-list-tile>

        <v-list-group
                v-for="(item, i) in menu"
                :key="i"

        >
            <v-list-tile
                    slot="activator" >

                <v-list-tile-title v-text="item.item"></v-list-tile-title>


            </v-list-tile>
            <v-list-group v-for="(countries, i) in item.countries"
                          :key="i"

                          sub-group

            >
                <v-list-tile
                        slot="activator" >
                    <v-list-tile-title v-text="countries.countriesName"></v-list-tile-title>

                </v-list-tile>
                <v-list-tile
                        v-for="(localTournaments, i) in countries.localTournaments"
                        sub-group
                        :key="i"
                        :to="'/tournament/' + localTournaments.id"
                >
                    <v-list-tile-title v-text="localTournaments.name" class="pl-3"></v-list-tile-title>

                </v-list-tile>
            </v-list-group>

            <!--<v-list-group
                    no-action
                    sub-group
                    value="true"

            >
                <v-list-tile slot="activator">
                    <v-list-tile-title>Admin</v-list-tile-title>
                </v-list-tile>

                <v-list-tile
                        v-for="(admin, i) in admins"
                        :key="i"
                        @click=""
                >
                    <v-list-tile-title v-text="admin[0]"></v-list-tile-title>
                    <v-list-tile-action>
                        <v-icon v-text="admin[1]"></v-icon>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list-group>

            <v-list-group
                    sub-group
                    no-action
            >
                <v-list-tile slot="activator">
                    <v-list-tile-title>Actions</v-list-tile-title>
                </v-list-tile>

                <v-list-tile
                        v-for="(crud, i) in cruds"
                        :key="i"
                        @click=""
                >
                    <v-list-tile-title v-text="crud[0]"></v-list-tile-title>
                    <v-list-tile-action>
                        <v-icon v-text="crud[1]"></v-icon>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list-group>-->
        </v-list-group>
    </v-list>
</template>

<script>
    export default {
        name: "LeftMenu",

        computed: {
            menu () {
                return this.$store.getters.menu
            }
        }
    }
</script>

<style scoped>

</style>