<template>
    <v-layout column>
        <v-flex xs12>
            <v-card class="my-content">
                <v-card-media
                        src="/img/banner.png"
                        height="270px"
                ></v-card-media>
                <v-breadcrumbs large>
                    <v-icon slot="divider">forward</v-icon>
                    <v-breadcrumbs-item

                            to="/"

                    >
                        <span class="teal--text font-weight-bold">Home</span>
                    </v-breadcrumbs-item>
                    <v-breadcrumbs-item
                        disabled
                    >
                        {{names}}
                    </v-breadcrumbs-item>
                </v-breadcrumbs>
                <v-card-title primary-title>
                    <v-layout align-center justify-center row fill-height>
                        <h1 class="title_center"><img src="/img/premier-league.png" alt="" class="tournament-logo">
                            {{country + '. ' + names}}
                        </h1>

                    </v-layout>
                </v-card-title>
                <v-flex xs4 pl-3>
                    <v-menu
                            ref="menu2"
                            :close-on-content-click="false"
                            v-model="menu2"
                            :nudge-right="40"
                            :return-value.sync="date"
                            lazy
                            transition="scale-transition"

                            offset-y
                            full-width
                            min-width="200px"
                    >
                        <v-text-field
                                slot="activator"
                                v-model="date"
                                :label="label"
                                prepend-icon="event"
                                readonly
                        ></v-text-field>
                        <v-date-picker v-model="date"  @input="$refs.menu2.save(date)">
                        </v-date-picker>

                    </v-menu>
                </v-flex>
                <v-divider></v-divider>
                <v-card-text>
                    <games-list :games="games" v-if="games && games.length > 0"></games-list>
                    <div v-else >
                        <v-alert
                                outline
                                :value="true"
                                type="error"
                        >
                            <span class="font-weight-bold title">No games!</span>
                        </v-alert>
                    </div>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    import gamesList from './GamesList'
    export default {
        name: "Tournaments",
        props: ['id'],
        components: {
            'games-list': gamesList
        },
        data () {
          return {
              tournament: '',
              menu2: false,
              date: null,
              label: 'Date start'
          }
        },
        watch:  {
            '$route' (to, from) {
                this.$store.dispatch('getTournament', to.params.id)
            }


        },
        computed: {
            names() {
                return this.$store.getters.tournament.tournament
            },
            country() {
                return this.$store.getters.tournament.country
            },
            games() {
                if(this.date !== null) {
                    return this.$store.getters.tournament.games.filter(item => {
                        return new Date(item.start).toLocaleDateString() === new Date(this.date).toLocaleDateString()
                    })
                }else {
                    return this.$store.getters.tournament.games
                }

            }
        }

    }
</script>

<style scoped>
    .tournament-logo {
        display: block;
        margin: 0 auto;
        height: auto;
    }
    .title_center {
        font-weight: 700;
        color: teal;
        margin-bottom: 20px;
        text-align: center;
    }
</style>